{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="twelve wide mobile eleven wide tablet four wide computer centered column">
        <div class="ui tall raised segment">

            <form action="" method="POST" class="ui form">
                {% csrf_token %}

                <div class="field {% if form.email.errors %}error{% endif %}">
                    <label>{{ form.fields.email.label }}</label>
                    {{ form.email }}
                </div>


                <div class="field {% if form.password1.errors %}error{% endif %}">
                    <label>{{ form.fields.password1.label }}</label>
                    {{ form.password1 }}
                </div>


                <div class="field {% if form.password2.errors %}error{% endif %}">
                    <label>{{ form.fields.password2.label }}</label>
                    {{ form.password2 }}
                </div>

                <div class="field">
                    <label>Select gender</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">Gender</div>
                        <select class="dropdown">
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                            <option value="o">Prefer not to specify</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label>Select birth date</label>
                    <div class="ui calendar" id="calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Date" name="date_of_birth">
                        </div>
                    </div>
                </div>

                <div class="field required" id="tos">
                    <div class="ui checkbox">
                        {{ form.accept_tos }}
                        <label>{{ form.accept_tos.label }}</label>
                    </div>
                </div>
                <button type="submit" id="register_button" class="ui fluid  button positive">Register</button>
            </form>

            <h3 class="ui horizontal divider">OR</h3>
            <div id="or-links">
                <a href="/login/">Login</a>
                <a href="/">Forgot password?</a>
            </div>
        </div>
        {% if form.errors %}
            <div class="ui red message">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
            </div>
            </div>
        {% endif %}

{% endblock %}
