{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'semantic.min.css' %}">

    <script src="{% static 'semantic.min.js' %}"></script>
    <style>
        #or-links {
            padding-left: 5px;

        }

        #or-links > a {
            color: #545454;

        }

        #or-links > a:last-child {
            padding-left: 5px;
        }

        #or-links > a:hover {
            color: #0d71bb;
        }
    </style>
</head>
<body>

<div class="ui grid">
    <div class="ui four wide centered column">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>