{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'calendar.min.css' %}">
    <script src="{% static 'calendar.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>

    <style>
        #or-links {
            padding-left: 5px;

        }

        #or-links > a {
            color: #545454;

        }

        #or-links > a:last-child {
            padding-left: 5px;
        }

        #or-links > a:hover {
            color: #0d71bb;
        }

        .errorlist {
            list-style: none;
        }

    </style>
    <script>
        $(document).ready(function () {
            var today = new Date();
            $('.ui.checkbox').checkbox();
            $('select.dropdown').dropdown();

            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });

            $('#calendar').calendar({
                type: 'date',
                startMode: 'year',
                minDate: new Date(today.getFullYear() - 130, today.getMonth(), today.getDay()),
                maxDate: new Date(today.getFullYear() - 16, today.getMonth(), today.getDay()),
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDay();
                        var month = date.getMonth();
                        var year = date.getYear() + 1900;
                        return month + '/' + day + '/' + year;
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="ui top attached inverted menu" style="border-radius: 0">
    <div class="header item">
        Our Company
    </div>
    {% if not user.is_authenticated %}

        <a class="item {% if request.path == '/login/' %}active{% endif %}" href="/login/">
            Login
        </a>
        <a class="item {% if request.path == '/' %}active{% endif %}" href="/">
            Register
        </a>

    {% endif %}

    {% if request.user.is_authenticated %}

        <span class="item">Hello {{ user.get_full_name }}</span>
        <a href="/logout/" class="item">Logout</a>

    {% endif %}
    <div class="right menu">
        <a class="item {% if request.path == '/accounts/profile/' %}active{% endif %}" href="/accounts/profile/">
            Profile
        </a>
    </div>
</div>
<div class="ui grid">
    <div class="ui four wide centered column">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>