{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
        Hi {{ user.get_full_name }}
    {% endif %}

    <div class="ui tall raised segment">

        <form action="" method="POST" class="ui form">
            {% csrf_token %}

            <div class="field">
                <label>{{ form.fields.email.label }}</label>
                {{ form.email }}
            </div>


            <div class="field">
                <label>{{ form.fields.password1.label }}</label>
                {{ form.password1 }}
            </div>


            <div class="field">
                <label>{{ form.fields.password2.label }}</label>
                {{ form.password2 }}
            </div>

            <div class="field">
                <label>Select gender</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Gender</div>
                    <select class="dropdown">
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
            </div>

            <div class="fields">
                <div class="field" style="width: 20%">
                    <input type="text" placeholder="Day">
                </div>
                <div class="field" style="width: 35%">
                    <input type="text" placeholder="Month">
                </div>
                <div class="field" style="width: 45%">
                    <input type="text" placeholder="Year">
                </div>

            </div>

            <div class="field required">
                <div class="ui checkbox">
                    {{ form.accept_tos }}
                    <label>{{ form.accept_tos.label }}</label>
                </div>
            </div>

            <button type="submit" class="ui fluid  button positive">Register</button>
        </form>

        <h3 class="ui horizontal divider">OR</h3>
        <div id="or-links">
            <a href="/login/">Login</a>
            <a href="/">Forgot password?</a>
        </div>
    </div>
    {% if form.errors %}
        {% for error in form.error_messages %}
            {{ error }}
        {% endfor %}

    {% endif %}
{% endblock %}
