{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
        Hi {{ user.get_full_name }}
    {% endif %}

    <div class="ui tall raised segment">
        <form action="" method="POST" class="ui form">
            {% csrf_token %}

            <div class="field">
                <label>{{ form.fields.email.label }}</label>
                {{ form.email }}
            </div>


            <button type="submit" class="ui fluid button">Register</button>
            <hr>
        </form>
    </div>
    {% if form.errors %}
        {% for error in form.error_messages %}
            {{ error }}
        {% endfor %}

    {% endif %}
    <a href="/login/">Login</a>
{% endblock %}
