{% extends 'base.html' %}
{% block content %}

    {% for user in object_list %}
        {{ user.email }} {{ user.date_joined | date:'m:h -- d m Y' }} <br>
    {% endfor %}

    <div class="ui pagination menu">
        <a class="icon {% if not page_obj.has_previous %}disabled{% endif %} item"
           href="/users/?page={{ page_obj.previous_page_number }}">
            <i class="left arrow icon"></i>
        </a>
        <a class="active item">
            1
        </a>
        <div class="disabled item">
            ...
        </div>
        <a class="item">
            10
        </a>
        <a class="item">
            11
        </a>
        <a class="item" href="/users/?page={{ paginator.num_pages }}">
            {{ paginator.num_pages }}
        </a>
        <a class="icon item" href="/users/?page={{ page_obj.next_page_number }}">
        <i class="right arrow icon"></i>
        </a>
    </div>
{% endblock %}
